body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: url("../images/annie-spratt-WlAXIKTIDN8-unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: whitesmoke;
}

h1 {
    font-family: "Abril Fatface", serif;
    font-size: 2.2em;
    color:black;
    text-align: center;
    line-height: 2;
    padding-top:30px;
    padding-bottom:10px;
}

nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex:1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    font-family: "Abril Fatface", serif;
    color: black;
    font-size: 1em;
    text-decoration:none;
}
/*accessibility*/
.skip-to-content-link{
    left:0px;
    position: absolute;
    transform: translateY(-100%);
}

.skip-to-content-link{
    background: white;
    height:30px;
    left:0px;
    padding:6px;
    position: absolute;
    transform: translateY(-100%);
}

.skip-to-content-link:focus{
    transform: translateY(0%);
}

*:focus {
    border: 2px solid black;
}



.nav-links .current{
    border-bottom: 3px solid black;
}


/*grid*/
.wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto;
    min-height: auto;
    gap: 15px;
}

.item2,  .item5 , .item8{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 16px;
}

#skip img{
    display: block;
    max-width: 25%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
/*footer*/

footer {
    position:fixed;
    bottom:0;
    width: 100%;
    height: min-content;
    background-color: black;
    color: white;
  }
footer p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: auto;
    text-align: center;
    font-size: 1em;
}

/*album page*/

#albums{
    min-height: 500px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}
#albums img{
    border: 5px solid black;
    margin: 10px;
    max-width: 70%;
    height: auto;
}

/*movies page*/

#movies{
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}
#movies img{
    border: 5px solid black;
    margin: 10px;
    max-width: 40%;
    height: auto;
}

/*books page*/

#books{
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}
#books img{
    border: 5px solid black;
    margin: 10px;
    max-width: 40%;
    height: auto;
}

@media screen and (min-width: 768px){
    h1 {
        font-size: 3em;
    }
    .nav-links ul li a{
        font-size: 1.5em;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: auto;
        min-height: auto;
        gap: 25px;
    }
    .item2,  .item5 , .item8{
        font-size: 1.5em;
    }
    
    #albums img{
        border: 5px solid black;
        margin: 10px;
        max-width: 40%;
        height: auto;
    }
    
    #movies img{
        border: 5px solid black;
        margin: 10px;
        max-width: 30%;
        height: auto;
    }
    #books img{
        border: 5px solid black;
        margin: 10px;
        max-width: 30%;
        height: auto;
    }
}
